html {
  scroll-behavior: smooth;
}.header {
    overflow: hidden;
    background-color: #515151;
    padding: 20px 90px;
    margin: -10px;
    position: fixed;
}
.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }
  .header a:hover {
    background-color: #ddd;
    color: black;

  }
  .header a.active {
    background-color: rgb(33, 33, 33);
    color: white;
  }
  
  .header-right {
    float: right;
  }
  .search input[type=text]{
    width:px;
    height:35px;
    border-radius:25px;
    border: none;
}
     
.search{
    float:right;
    margin:7px;
}
     
.search button{
    color: #15118a;
    float: right;
    padding: 5px 10px;
    margin-right: 16px;
    font-size: 12px;
    border: none;
    cursor: pointer;
}
hr {
  
  border: 0;
  border-top: 8px solid #000000;
  margin: -8px;
}
body {
  background-image: url("images/ll.jpeg");
  background-repeat: no-repeat;
  background-size: 1700px 980px;
  background-attachment: fixed;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #909090;
  border-radius: 5px;
}

.don1 {
  text-align: center;
}

label {
  display: block;
  margin-top: 10px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

input[type="submit"]:hover {
  background-color: #45a049;
}
.dropdown {
  position: relative;
  display:inline-flex;
}

.dropdown-button {
  background-color: #515151;
  color: #000000;
  padding: 15px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-family: 'Times New Roman';
}

.dropdown-content {
  display:none;
  position: absolute;
  background-color: #f5f5f5;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 5px;
  
}

.dropdown-content a {
  color: #000000;
  padding: 12px 16px;
  text-decoration: none;
  font-size: 18px;
  display: block;
  border-radius: 5px;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.Subt2{
  text-align: center;
  font-size: 50px;
}
.cos1{
  padding-left: 90px;
  width: 550px;
  height: 400px;
}
.cos2{
  padding-left: 200px;
  width: 550px;
  height: 400px;
}
.cos3{
  padding-top: 30px;
  padding-left: 90px;
  width: 550px;
  height: 400px;
}.cos4{
  padding-top: 30px;
  padding-left: 200px;
  width: 550px;
  height: 400px;
}
.imgb{
 border-radius: 50px;
}
.Facts{
  text-align: center;
  font-size: 40px;
  text-decoration: overline rgb(255, 255, 255);
color: rgb(0, 0, 0);
}
li{
font-size: 27px;
font-family:Georgia;
color: white;
padding-left: 5px;
}